//
//  Production.xcconfig
//  iOS-Architecture-MVVMC
//
//  Created by Vu Le Van on 2022/06/30.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
// Server URL
BASE_URL = https:/$()/production-api.free.beeceptor.com
APP_NAME = N-Production
APP_BUNDLE_ID = production.nals.ios.iOS-Architecture-MVVMC
